*{
  --maindarkgray: color: rgb(80, 80, 80);
  --mainlightgray: rgb(200, 200, 200);
}
body{
  background-color: rgb(233, 233, 233);
  justify-content: center;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color:var(--maindarkgray);
  text-align: center;
  border-bottom: 2px, solid, black;
  
}

/*contains the 'Generate a Password' text and the white box*/
.card{
  position:relative;
  align-items: center;
  font-family:Arial, Helvetica, sans-serif;
  /* align-self: center;
  justify-content: center; */
  margin: 0 auto;
  font-size: 26px;
  font-weight: bold;
  color: var(--maindarkgray);
  background-color: white;
  height: 400px;
  max-width: 800px;
  padding-left: 60px;
  padding-top: 20px;
  margin: 15px;
  box-shadow: 10px 10px 10px var(--mainlightgray);
}
/* this doesn't work, idk why
  .card::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
} */

/*this is the 'Generate Password' button*/
.button{
  font-size: 20px;
  color: white;
  display:inline-block;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(180, 0, 0);
  border-radius: 35px;
  padding: 15px;
  margin: 16px 16px 16px 20px;
  width: 250px;
  cursor: pointer;
  transition: 0.25s;
}
/*button effects*/
.button:hover{
  cursor: grab;
  box-shadow: 5px 5px 5px var(--mainlightgray);
}
.button:active{
  color:black;
}
/*contains the 'Your Secure Password' text and the dashed bordered box*/
#password{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 80%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
  }
